/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/

.portrait{
    max-width:auto;
    max-height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
  border: 4px solid #565657;
  margin-bottom:10px;
  margin-top:10px;

}
.thumbnail_image:hover{
    animation:borders-change 2s ease-in-out 1ms infinite alternate;
}

article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    border: 3px solid #1F3352;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: 'Audiowide', cursive;
}

/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#eee;
}

footer{
    background:#eee;
}

.jumbotron{
  background: url('http://i1376.photobucket.com/albums/ah5/svillasenor/cropped_header_1446788000537_zpsagknujzb.jpg') no-repeat center;
  background-size: cover;
  border-bottom:5px solid #19BEDE;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
body{
    background:#060e1b;
}
.thumbnail{
    border: 4px solid #0F93F5;
    background-color:#262829;
    
}
h3{
    color:#19BEDE;
    font-size:1.9em;
}
.caption{
    border-top:5px solid #0F93F5;
    background-color:#565657;
    font-family :'Play', sans-serif;
    font-weight:bold;
}
.disc{
    color:#DDDDDD;
}
#canvas{
    position:fixed;
    text-align:center;
    z-index:-100000;
}
#menuToggle
{
  
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

@-webkit-keyframes borders-change{
      0%  {
  }
  25%  {
    border-top-color:#19BEDE;
  }
  50%  {
    border-left-color:#19BEDE;
    border-top-color:#19BEDE;
      
  }
  75%  {
    border-left-color:#19BEDE;
    border-top-color:#19BEDE;
    border-right-color:#19BEDE;
  }
  100% {
    border-left-color:#19BEDE;
    border-top-color:#19BEDE;
    border-right-color:#19BEDE;
    border-bottom-color:#19BEDE;

      
  }
}