/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/

.portrait{
    max-width:auto;
    max-height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
  border: 4px solid #565657;
  margin-bottom:10px;
  margin-top:10px;

}

article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    border: 3px solid #1F3352;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: 'Audiowide', cursive;
}

/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#eee;
}

footer{
    background:#eee;
}

.jumbotron{
  background: url('http://i1376.photobucket.com/albums/ah5/svillasenor/cropped_header_1446788000537_zpsagknujzb.jpg') no-repeat center;
  background-size: cover;
  border-bottom:5px solid #19BEDE;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
body{
    background:#0A0A0A;
}
.thumbnail{
    border: 4px solid #0F93F5;
    background-color:#262829;
    padding:0px;
    color:#DDDDDD;
}
h3{
    color:#19BEDE;
}
.caption{
border-top:5px solid #0F93F5;
background-color:#565657;
}
p{
}